<h1>Iniciar sesion</h1>
<hr>

<form action="/api/sessions/login" method="post">
    correo: <input type="text" name="email"><br>
    contraseña: <input type="text" name="password"><br><br>
    <input type="submit" value="Iniciar Sesion"> <a href="/register">Registrarme</a>

</form>