<h1>Registrar Usuario</h1>]
<hr>

<form action="/api/sessions/register" metod="post">
    Nombre: <input type="text" name="first_name"><br>
    Apellido: <input type="text" name="last_name"><br>
    Correo: <input type="text" name="email"><br>
    edad: <input type="text" name="age"><br>
    contraseña: <input type="text" name="password"><br>
    <input type="text" value="crear"> | <a href="/">Iniciar sesion</a>
</form>