<h1>Registrar Usuario</h1>
<hr>

<form action="/api/sessions/register" method="post">
    Nombre: <input type="text" name="first_name"><br>
    Apellido: <input type="text" name="last_name"><br>
    Correo: <input type="text" name="email"><br>
    Edad: <input type="number" name="age"><br>
    Contraseña: <input type="text" name="password"><br>
    <input type="submit" value="crear cuenta"> | <a href="/">Iniciar sesión</a>
</form>
