@charset "UTF-8";
/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos básicos de elementos HTML */
body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

/* Encabezados */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Listas */
ul, ol {
  list-style: none;
}

/* Enlaces */
a {
  text-decoration: none;
  color: #333;
}

/* Formularios */
input, textarea, button {
  border: none;
  outline: none;
  font-family: inherit;
}

/* Estilos de botones */
button {
  cursor: pointer;
}

/* Imágenes */
img {
  max-width: 100%;
  height: auto;
}

/* Contenedor principal */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/********************************************* FINAL DEL RESET ************************************************/


/************************************************* CHAT ************************************************/
.chatContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatContainer article {
  border-radius: 10px;
  border: 1px solid rgb(56, 56, 56);
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
}
.chatContainer article header {
  width: 100%;
  display: flex;
  flex-direction: column;
}